numpy
tqdm
matplotlib
scikit-learn
medpy
torch==1.12.0
kornia
wandb
catalyst==21.12
hydra-core==1.1.1
scikit-image
albumentations==0.5.2
git+https://github.com/MartSlaaf/TVSD
tifffile
git+https://github.com/MartSlaaf/SegLoss@packaging
segmentation-models-pytorch
torchvision
einops
git+https://github.com/MartSlaaf/FileListExpander
