# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
albumentations=0.5.2=pypi_0
antlr4-python3-runtime=4.8=pypi_0
ca-certificates=2022.3.29=h06a4308_1
catalyst=21.12=pypi_0
certifi=2021.10.8=py39h06a4308_2
charset-normalizer=2.0.12=pypi_0
click=8.1.3=pypi_0
cycler=0.11.0=pypi_0
docker-pycreds=0.4.0=pypi_0
efficientnet-pytorch=0.6.3=pypi_0
einops=0.4.1=pypi_0
flexpand=0.0.2=pypi_0
fonttools=4.33.3=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.27=pypi_0
hydra-core=1.1.2=pypi_0
hydra-slayer=0.4.0=pypi_0
idna=3.3=pypi_0
imageio=2.18.0=pypi_0
imgaug=0.4.0=pypi_0
joblib=1.1.0=pypi_0
kiwisolver=1.4.2=pypi_0
kornia=0.5.11=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libstdcxx-ng=9.3.0=hd4cf53a_17
matplotlib=3.5.1=pypi_0
medpy=0.4.0=pypi_0
munch=2.5.0=pypi_0
ncurses=6.3=h7f8727e_2
networkx=2.8=pypi_0
nibabel=3.2.2=pypi_0
numpy=1.22.3=pypi_0
omegaconf=2.1.2=pypi_0
opencv-python=4.5.5.64=pypi_0
opencv-python-headless=4.5.5.64=pypi_0
openssl=1.1.1n=h7f8727e_0
packaging=21.3=pypi_0
pathtools=0.1.2=pypi_0
pillow=9.1.0=pypi_0
pip=21.2.4=py39h06a4308_0
pretrainedmodels=0.7.4=pypi_0
promise=2.3=pypi_0
protobuf=3.20.1=pypi_0
psutil=5.9.0=pypi_0
pynrrd=0.4.3=pypi_0
pyparsing=3.0.8=pypi_0
python=3.9.0=hdb3f193_2
python-dateutil=2.8.2=pypi_0
pywavelets=1.3.0=pypi_0
pyyaml=6.0=pypi_0
readline=8.1.2=h7f8727e_1
requests=2.27.1=pypi_0
scikit-image=0.19.2=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.8.0=pypi_0
segmentation-losses-pytorch=0.0.1=pypi_0
segmentation-models-pytorch=0.2.1=pypi_0
sentry-sdk=1.5.10=pypi_0
setproctitle=1.2.3=pypi_0
setuptools=61.2.0=py39h06a4308_0
shapely=1.8.1.post1=pypi_0
shortuuid=1.0.8=pypi_0
simpleitk=2.1.1.2=pypi_0
six=1.16.0=pypi_0
smmap=5.0.0=pypi_0
sqlite=3.38.2=hc218d9a_0
tensorboardx=2.2=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2022.4.28=pypi_0
timm=0.4.12=pypi_0
tk=8.6.11=h1ccaba5_0
torch=1.7.1+cu101=pypi_0
torchaudio=0.7.2=pypi_0
torchvision=0.8.2+cu101=pypi_0
tqdm=4.64.0=pypi_0
tvsd=0.0.2=pypi_0
typing-extensions=4.2.0=pypi_0
tzdata=2022a=hda174b7_0
univread=0.0.2=pypi_0
urllib3=1.26.9=pypi_0
wandb=0.12.15=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h7b6447c_0
zlib=1.2.12=h7f8727e_2
